/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Asterisk wildcard to override default styles created by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Create generic styles */
    color: #3a3a3a;
    font-family: 'Titillium Web', sans-serif;
}

/* Header - Code was borrowed from the walkthourgh project Love Running for this section and can be found here: https://github.com/Code-Institute-Solutions/love-running-v3/blob/main/3.7-creating-the-footer/assets/css/style.css */

header {
    background-color: #F4EFCA;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 160%;
    color: #1D1F38;
}

/* Menu of the 3 available pages */

#menu {
    font-size: 110%;
    letter-spacing: 2.5px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: .5em;
}

/* Indicated which page the user is located at on laptop and computer screens */

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown menu */
nav {
    position: absolute;
    background-color: #F4EFCA;
    width: 100%;
    left: 0;
    padding: 0 .5rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Size of nav toggle */

.nav-toggle-label {
    font-size: 150%;
}


/* Main */

main {
    position: relative;
    height: 100%;
    width: 100%;
    /* Make main content take-up the majority of the space */
    flex: 1 0 auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: content;
}

/* Generic styling for landing image */


#landing-image {
    background: url('../images/hero-image-hq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    min-height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* Generic styling for landing quote */

#landing-quote {
    background-color: #8b6a56b3;
    color: wheat;
    width: 80%;
    position: relative;
    margin-top: 30%;
    font-size: 110%;
}

#history {
    background: url('../images/history-image.jpg');
    width: 100%;
    min-height: 90vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

#history-text {
    position: relative;
    background-color: #3c2f26ba;
    color: wheat;
    font-family: 'Space Mono', monospace;
    max-height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 30px 20px 20px 20px;
    text-align: justify;
    padding: 10px 0;
}

#history-title {
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
}

.fa-solid.fa-bread-slice {
    border: 1px solid;
    border-radius: 30%;
}

#history-description {
    font-size: 75%;
}

#text-img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 38vh;
}

#text-img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 33vh;
}

#text-img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 38vh;
}

#health-benefits {
    background: url('../images/health-benefits.jpg');
    width: 100%;
    min-height: 90vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

#health-benefits-text {
    position: relative;
    background-color: #3c2f26ba;
    color: wheat;
    font-family: 'Space Mono', monospace;
    max-height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 30px 20px 20px 20px;
    text-align: justify;
    padding: 10px 0;
}

#health-benefits-title {
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
}

#health-benefits-description {
    font-size: 70%;
}

#tutorials {
    background-image: url('../images/tutorials-image.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 5%;
}

#tutorials-section {
    position: relative;
    background-color: #3c2f26ba;
    color: wheat;
    font-family: 'Space Mono', monospace;
    height: 30vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: justify;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
}

#tutorials-title {
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
}

#tutorials-text {
    font-size: 70%;
    text-align: center;
}

#starter-tutorial {
    position: relative;
    width: 100%;
    height: 25vh;
}

#bread-tutorial {
    position: relative;
    width: 100%;
    height: 25vh;
}

/* Gallery Page */

#gallery {
    background-color: #F4EFCA;
}

/* This code was borrowed from the Love Running Project (https://github.com/Code-Institute-Solutions/love-running-v3/blob/main/6.1-lets-add-some-images/assets/css/style.css) from here */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Up to here */

/* Form Section */

#get-involved {
    width: 100%;
    padding: 5%;
}

#get-involved-title {
    text-align: center;
}

#get-involved-sentence{
    text-align: justify;
}

#get-involved-form {
    text-align: center;
}

/* Footer - A part of this code was borrowed from the walkthourgh project Love Running for this section and can be found here: https://github.com/Code-Institute-Solutions/love-running-v3/blob/main/3.7-creating-the-footer/assets/css/style.css */

footer {
    width: 100%;
    background-color: #F4EFCA;
    padding: 20px, 0;
}

#social-media {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 200%;
    margin: 5%;
    color: #3a3a3a;
}

/* Media query for medium mobile screens */

@media screen and (min-width: 375px) {
    #landing-quote {
        font-size: 120%;
    }

    #history-title {
        padding: 20px 20px;
    }

}

/* Media query for header responsiveness 387px and up */
@media screen and (min-width: 387px) {
    main {
        margin-top: 38px;
    }

    #landing-image {
        min-height: 98vh;
    }

    #history {
        min-height: 98vh;
    }

    #health-benefits {
        min-height: 98vh;
    }

}

/* Media query for large mobiles 425px and up */

@media screen and (min-width:425px) {
    #landing-quote {
        width: 70%;
    }

    #history-title {
        font-size: 160%;
    }

    #history-text {
        padding: 20px 40px;
        max-height: 85vh;
    }

    #history-description {
        font-size: 80%;
    }

    #health-benefits-title {
        font-size: 160%;
    }

    #health-benefits-text {
        padding: 20px 40px;
        max-height: 85vh;
    }

    #health-benefits-description {
        font-size: 75%;
    }

    #tutorials-title {
        font-size: 160%;
    }

    #tutorials-text {
        font-size: 80%;
    }

    /* Gallery style rules */

    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query for tablet screens and larger */

@media screen and (min-width: 768px) {

    /* Nav style rule for tablet screens and larger */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        bottom: 4px;
    }

    /* Menu style rules for tablet screens and larger */

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Logo style rule for tablet screens and larger */

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
        text-align: left;
    }

    main {
        margin-top: 75px;
    }

    #landing-image {
        min-height: 95vh;
    }

    #landing-quote {
        width: 60%;
        margin-top: 10%;
        font-size: 130%;
    }

    #history {
        min-height: 95vh;
    }

    #history-title {
        font-size: 180%;
    }


    #history-text {
        padding: 20px 60px;
    }

    #history-description {
        font-size: 95%;
    }

    #text-img1 {
        width: 60%;
    }

    #text-img2 {
        width: 50%;
    }

    #text-img3 {
        width: 60%;
    }

    #health-benefits {
        min-height: 95vh;
    }

    #health-benefits-title {
        font-size: 180%;
    }

    #health-benefits-text {
        padding: 20px 60px;
    }

    #health-benefits-description {
        font-size: 90%;
    }

    #tutorials {
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
    }

    #tutorials-title {
        font-size: 180%;
    }

    #tutorials-text {
        font-size: 95%;
    }

    #starter-tutorial {
        width: 40vw;
        height: 30vh;
    }

    #bread-tutorial {
        width: 40vw;
        height: 30vh;
    }

    /* Gallery style rules */

    #photos {
        column-count: 3;
    }

}

/* Media query for laptop screens and larger */

@media screen and (min-width: 1024px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #history-text {
        padding: 20px 120px;
    }

    #history-description {
        font-size: 110%;
    }

    #text-img1 {
        width: 40%;
    }

    #text-img2 {
        width: 30%;
    }

    #text-img3 {
        width: 40%;
    }

    #health-benefits-text {
        padding: 20px 120px;
    }

    #health-benefits-description {
        font-size: 100%;
    }


    #tutorials-text {
        font-size: 110%;
    }

    #starter-tutorial {
        width: 45vw;
        height: 40vh;
    }

    #bread-tutorial {
        width: 45vw;
        height: 40vh;
    }

    #photos {
        column-count: 4;
    }

}