
/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Asterisk wildcard to override default styles created by the browser */
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Create generic styles */
    color: #3a3a3a;
    font-family: 'Titillium Web', sans-serif;
}

/* Header - Code was borrowed from the walkthourgh project Love Running for this section and can be found here: https://github.com/Code-Institute-Solutions/love-running-v3/blob/main/3.7-creating-the-footer/assets/css/style.css */

header {
    background-color: #F4EFCA;
    padding:0 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: auto;
    box-shadow:0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 160%;
    color: #1D1F38;
}

#menu {
    font-size: 110%;
    letter-spacing: 2.5px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .5em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown menu */
nav {
    position: absolute;
    background-color: #F4EFCA;
    width: 100%;
    left: 0;
    padding:0 .5rem;
    box-shadow:0 2px 2px #3a3a3a;
    display: none;  
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 150%;
}


/* Main */

main {
    background: url('../images/hero-image.jpg') center/cover no-repeat scroll;
    /* Make main content take-up the majority of the space */
    flex: 1 0 auto;
    margin-top: 75px;
    height: 800px;
    width: 100%;
    position: relative;
}

/* Styling for landing quote */

#landing-quote {
    background-color: rgba(73, 70, 57, 0.691);
    font-size: 18px;
    text-align: center;
   /* margin-top: 150px; */
    color: wheat;
    position: absolute;
    bottom: 199px;
    width: 75%;
    right: 0;
}
#history {
    background-color: rgba(210,205,171, 0.6);
    font-size: 100%;
    color: white;
}

.history-title {
    text-transform: uppercase;
    font-size: 110%;
    text-align: center;
}

.history-description {
    text-align: center;
}
/* Footer - Code was borrowed from the walkthourgh project Love Running for this section and can be found here: https://github.com/Code-Institute-Solutions/love-running-v3/blob/main/3.7-creating-the-footer/assets/css/style.css */ 

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #F4EFCA;
    padding: 20px, 0;
}

#social-media {
    text-align:center;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 200%;
    margin: 5%;
    color: #3a3a3a;
}

/* Media query for large mobiles 425px and up */

@media screen and (min-width:425px) {
    main {
        margin-top: 38px;
    }

    #landing-quote {
        bottom: 160px;
    }
}

/* Media query for tablet screens and larger */

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        bottom: 4px;
    }
    #menu {
        display: flex;   
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
        text-align: left;
    }

    main {
        margin-top: 74px;
    }

    #landing-quote {
        bottom: 300px;
    }
}

    /* Media query for screens 992px and larger */

    @media screen and (min-width: 992px) {
        #menu a:hover{
            border-bottom: 1px solid #3a3a3a;
        }
    }

